#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.operation-line{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.output-line{
  margin-top: 10px;
  padding: 5px;
}
